page-facebook-events {

    .fb-color {
        background-color: #3B5998 !important;
    }

    .event-text {
        font-size: 15px;
        font-family: 'Lato' !important;
        padding: 10px;
    }
}
