tit {

    .center-title {
        margin-bottom: 20px;
    }

    .center-loader {
        justify-content: center;
        text-align: center;
        margin: auto;
        padding: 15px;
    }

    .title-text {
        font-size: 45px;
        font-family: 'TruSemiFont';
        padding: 10px;
        text-align: center;
        opacity: 1;
    }

    .subtitle-text {
        font-size: 13px;
        text-align: center;
        margin-top: -10px;
        font-family: 'Avenir';
        opacity: 1;
    }

}
