// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.app-loading-screen.bg {
    background-color: #886fe8 !important;
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.app-loading-screen.container {
    color: white;
    position: relative;
    margin: auto;
    display: flex;
    top: 250px;
    font-size: 30px;
    width: 200px;
    height: 200px;
    justify-content: center;
    text-align: center;
}

.app-loading-screen.loader {
    width: 200px;
    height: 200px;
}
.app-loading-screen.text {
    position: absolute;
    top: 120px;
    font-family: 'Avenir';
    font-size: 15px;
    color: white;
}